html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

.transition {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: grey;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.transition.is-active {
  opacity: 1;
  pointer-events: all;
}

* {
  font-family: "Segoe UI light", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background: #222222;
}

body {
  max-width: 1300px;
  margin: auto;
  background: #373737;
  color: #cfcfcf;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  padding: 15px;
}

.header__logo {
  max-width: 150px;
}

.header h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 48px;
}

hr {
  margin: 0 30px 0 30px;
  border-color: #7f7f7f;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 560px;
}

.main button {
  height: 35px;
  width: 115px;
  margin: 15px;
  border: none;
  border-radius: 10px;
  background-color: #34776e;
  color: #cfcfcf;
  font-size: 18px;
  font-weight: bold;
}

.main button:hover {
  border: none;
  -webkit-box-shadow: 0 0 3px 0 #252525 inset, 0 0 3px 1px #141414;
          box-shadow: 0 0 3px 0 #252525 inset, 0 0 3px 1px #141414;
  background-color: transparent;
  cursor: pointer;
}

.main button:focus {
  outline: none;
}

.main input {
  height: 35px;
  background-color: transparent;
  margin: 15px;
  padding: 10px;
  color: #cfcfcf;
  font-size: 18px;
  font-weight: bold;
}

.main input:focus {
  outline: none;
}

.main input::-webkit-input-placeholder {
  color: #cfcfcf;
}

.main input:-ms-input-placeholder {
  color: #cfcfcf;
}

.main input::-ms-input-placeholder {
  color: #cfcfcf;
}

.main input::placeholder {
  color: #cfcfcf;
}

.main__functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 450px;
  width: 150px;
  margin: 60px 0px 10px 70px;
  border: none;
  border-radius: 60px 0px 0px 60px;
  background-color: rgba(165, 165, 165, 0.233);
  -webkit-box-shadow: 0 1px 1px rgba(119, 59, 55, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(119, 59, 55, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.main__functions__knappy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
  width: 150px;
  border: none;
  border-radius: 60px 0px 0px 60px;
  -webkit-box-shadow: inset 1px 1px 5px 1px rgba(70, 155, 144, 0.6);
          box-shadow: inset 1px 1px 5px 1px rgba(70, 155, 144, 0.6);
  background-color: rgba(52, 119, 110, 0.9);
  color: #cfcfcf;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  animation: slideInRight 1.5s;
  -webkit-animation: slideInRight 1.5s;
  -moz-animation: slideInRight 1.5s;
  -o-animation: slideInRight 1.5s;
  -ms-animation: slideInRight 1.5s;
}

.main__functions__knappy:hover {
  background-color: rgba(44, 102, 94, 0.9);
  -webkit-box-shadow: inset 1px 1px 5px 1px rgba(25, 56, 52, 0.6), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 1px 1px 5px 1px rgba(25, 56, 52, 0.6), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.main__functions__knappy:focus {
  outline: none;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 860px;
  height: 450px;
  margin: 60px 0px 0px 0px;
  padding: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  border: 20px solid #4e4e4e;
  background: linear-gradient(-45deg, rgba(131, 115, 113, 0.8), rgba(129, 119, 119, 0.8), rgba(126, 141, 140, 0.8), rgba(96, 122, 118, 0.8));
  -webkit-box-shadow: inset 1px 1px 3px 2px rgba(131, 131, 131, 0.6), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 1px 1px 3px 2px rgba(131, 131, 131, 0.6), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  background-size: 500% 500%;
  -webkit-animation: gradient 3s ease-in-out infinite;
          animation: gradient 3s ease-in-out infinite;
}

.main__content button {
  height: 35px;
  width: 115px;
  margin: 15px;
  border: none;
  border-radius: 10px;
  background-color: #2d665e;
  color: #cfcfcf;
  font-size: 18px;
}

.main__content button:hover {
  border: none;
  -webkit-box-shadow: inset 0 0 3px 0 #252525, 0 0 3px 1px #141414;
          box-shadow: inset 0 0 3px 0 #252525, 0 0 3px 1px #141414;
  background-color: transparent;
  cursor: pointer;
}

.main__content button:focus {
  outline: none;
}

.main__content p {
  margin: 15px;
}

.main__content__searchBar {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

.main__content__searchBar__input {
  height: 40px;
}

.main__content__searchBar__submit {
  height: 40px;
  cursor: pointer;
}

.main__content__search-result__title-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.main__content__search-result__title-links a {
  width: 350px;
  margin: 5px auto 5px auto;
  font-size: 16px;
  font-weight: bold;
}

.main__content__search-result__title-links a:hover {
  color: chocolate;
  cursor: pointer;
}

.main__content__convertContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__content__jokeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content .chuckBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content .chuckBox select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.main__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
  width: 150px;
  margin: 60px 0px 10px 0px;
  border: none;
  border-radius: 0px 60px 60px 0px;
  background-color: rgba(165, 165, 165, 0.233);
  -webkit-box-shadow: 0 1px 1px rgba(119, 59, 55, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(119, 59, 55, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.main__nav__knappy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
  width: 150px;
  border: none;
  border-radius: 0px 60px 60px 0px;
  -webkit-box-shadow: inset 1px 1px 5px 1px rgba(161, 93, 88, 0.6);
          box-shadow: inset 1px 1px 5px 1px rgba(161, 93, 88, 0.6);
  background-color: #773b37;
  color: #cfcfcf;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  animation: slideInLeft 1.5s;
  -webkit-animation: slideInLeft 1.5s;
  -moz-animation: slideInLeft 1.5s;
  -o-animation: slideInLeft 1.5s;
  -ms-animation: slideInLeft 1.5s;
}

.main__nav__knappy:hover {
  border: none;
  border-radius: 0px 60px 60px 0px;
  background-color: rgba(107, 55, 50, 0.8);
  -webkit-box-shadow: inset 1px 1px 5px 1px rgba(82, 36, 33, 0.6), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 1px 1px 5px 1px rgba(82, 36, 33, 0.6), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.main__nav__knappy:focus {
  outline: none;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes slideInLeft {
  from {
    left: 60px;
  }
  to {
    left: 0px;
  }
}

@keyframes slideInLeft {
  from {
    left: 60px;
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes slideInRight {
  from {
    right: 60px;
  }
  to {
    right: 0px;
  }
}

@keyframes slideInRight {
  from {
    right: 60px;
  }
  to {
    right: 0px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textBox {
  width: 700px;
  margin: 15px;
  padding: 15px;
  background-color: #414141;
}

.convert-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.song-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.song-display__lyrics-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 850px;
  margin: 15px;
  padding: 15px;
  background-color: #414141;
  -webkit-box-shadow: 0 1px 1px rgba(119, 59, 55, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(119, 59, 55, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.song-display__lyrics-container h2 {
  margin: 20px;
  font-size: 36px;
}

.song-display__lyrics-container p {
  margin: 20px;
  font-size: 18px;
}

.song-display__lyrics-container #video {
  display: none;
  margin: 20px;
}

.song-display__lyrics-container #video-replace {
  display: none;
  width: 400px;
  height: 250px;
  background-color: #222222;
}

.song-display__lyrics-container #video-replace p {
  font-size: 28px;
  color: darkred;
}

#error-msg {
  visibility: hidden;
  font-weight: bold;
  color: darkred;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  background: #4e4e4e;
}

footer p {
  margin: 60px 60px 30px 60px;
}

footer a {
  margin: 60px 60px 30px 60px;
  color: #cfcfcf;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  color: white;
}
