html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

.transition {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: grey;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
}

.transition.is-active {
  opacity: 1;
  pointer-events: all;
}

* {
  font-family: "Segoe UI light", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background: #222222;
}

body {
  background: #373737;
  max-width: 1300px;
  margin: auto;
  color: #cfcfcf;
}

.header {
  display: flex;
  width: auto;
  align-content: center;
  justify-content: center;
}

.header__logo {
  max-width: 150px;
}

.header h1 {
  align-self: center;
  font-size: 48px;
}

hr {
  margin: 0 30px 0 30px;
  border-color: #7f7f7f;
}

.main {
  display: flex;
  min-height: 600px;
}

.main button {
  background-color: #34776e;
  border: none;
  border-radius: 10px;
  height: 35px;
  width: 115px;
  margin: 15px;
  color: #cfcfcf;
  font-size: 18px;
}

.main button:hover {
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-shadow: 0 0 3px 0 #252525 inset, 0 0 3px 1px #141414;
}

.main button:focus {
  outline: none;
}

.main input {
  background-color: transparent;
  margin: 15px;
  height: 35px;
  font-size: 18px;
  padding: 10px;
}

.main input:focus {
  outline: none;
}

.main__functions {
  min-width: 150px;
  margin: 20px 30px 10px 30px;
  background: #4e4e4e;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px 10px 10px;
  background: #4e4e4e;
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  min-width: 860px;
}

.main__content p {
  margin: 15px;
}

.main__content__searchBar {
  justify-self: center;
  display: flex;
  margin: 15px;
}

.main__content__searchBar__input {
  height: 40px;
}

.main__content__searchBar__submit {
  cursor: pointer;
  height: 40px;
}

.main__content__search-result__title-links {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.main__content__search-result__title-links a {
  font-size: 16px;
  font-weight: bold;
  width: 350px;
  margin: 5px auto 5px auto;
}

.main__content__search-result__title-links a:hover {
  cursor: pointer;
  color: chocolate;
}

.main__content__search-result__lyrics-container {
  display: none;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #414141;
  padding: 15px;
  margin: 15px;
  width: 700px;
}

.main__content__search-result__lyrics-container h2 {
  font-size: 36px;
  margin: 20px;
}

.main__content__search-result__lyrics-container p {
  font-size: 18px;
  margin: 20px;
}

.main__content__search-result__lyrics-container #video {
  margin: 20px;
}

.main__content__convertContainer {
  display: flex;
  flex-direction: row;
}

.main__content__jokeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__content .chuckBox {
  display: flex;
}

.main__content .chuckBox select {
  display: flex;
  align-self: center;
}

.main__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  margin: 20px 30px 10px 30px;
  background: #4e4e4e;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.main__nav__nav-convert {
  align-self: center;
  margin-top: 10px;
  width: 80%;
}

.main__nav__nav-convert-with-lyrics {
  align-self: center;
  margin-top: 10px;
  width: 80%;
}

.textBox {
  width: 700px;
  margin: 15px;
  padding: 15px;
  background-color: #414141;
}

.convert-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

footer {
  display: flex;
  margin-top: 50px;
  background: #4e4e4e;
  justify-content: space-around;
}

footer p {
  margin: 60px 60px 30px 60px;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: #cfcfcf;
  margin: 60px 60px 30px 60px;
}

footer a:hover {
  color: white;
}
