html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

* {
  font-family: 'Segoe UI light', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background: #222222;
}

body {
  background: #373737;
  max-width: 1300px;
  margin: auto;
  color: #cfcfcf;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  max-width: 150px;
}

.header h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 48px;
}

hr {
  margin: 0 30px 0 30px;
  border-color: #7f7f7f;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 600px;
}

.main button {
  background-color: #34776e;
  border: none;
  border-radius: 10px;
  height: 35px;
  width: 115px;
  margin: 15px;
  color: #cfcfcf;
  font-size: 18px;
}

.main button:hover {
  cursor: pointer;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: 0 0 3px 0 #252525 inset, 0 0 3px 1px #141414;
          box-shadow: 0 0 3px 0 #252525 inset, 0 0 3px 1px #141414;
}

.main button:focus {
  outline: none;
}

.main input {
  background-color: transparent;
  margin: 15px;
  height: 35px;
  font-size: 18px;
  padding: 10px;
}

.main input:focus {
  outline: none;
}

.main__functions {
  min-width: 150px;
  margin: 20px 30px 10px 30px;
  background: #4e4e4e;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 10px 10px 10px;
  background: #4e4e4e;
  padding: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  min-width: 860px;
}

.main__content p {
  margin: 15px;
}

.main__content__searchBar {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

.main__content__searchBar__input {
  height: 40px;
}

.main__content__searchBar__submit {
  cursor: pointer;
  height: 40px;
}

.main__content__search-result__title-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.main__content__search-result__title-links a {
  font-size: 16px;
  font-weight: bold;
  width: 350px;
  margin: 5px auto 5px auto;
}

.main__content__search-result__title-links a:hover {
  cursor: pointer;
  color: chocolate;
}

.main__content__search-result__lyrics-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #414141;
  padding: 15px;
  margin: 15px;
  width: 700px;
}

.main__content__search-result__lyrics-container h2 {
  font-size: 36px;
  margin: 20px;
}

.main__content__search-result__lyrics-container p {
  font-size: 18px;
  margin: 20px;
}

.main__content__search-result__lyrics-container #video {
  margin: 20px;
}

.main__content__convertContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__content__jokeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content .chuckBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content .chuckBox select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.main__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 150px;
  margin: 20px 30px 10px 30px;
  background: #4e4e4e;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.main__nav__nav-convert {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 10px;
  width: 80%;
}

.main__nav__nav-convert-with-lyrics {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 10px;
  width: 80%;
}

.textBox {
  width: 700px;
  margin: 15px;
  padding: 15px;
  background-color: #414141;
}

.convert-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  background: #4e4e4e;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer p {
  margin: 60px 60px 30px 60px;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: #cfcfcf;
  margin: 60px 60px 30px 60px;
}

footer a:hover {
  color: white;
}
