@import "variables", "globals", "transitions";
* {
  font-family: "Segoe UI light", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background: $main-background-color;
}

body {
  max-width: 1300px;
  margin: auto;
  background: #373737;
  color: $text-color;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.header {
  display: flex;
  align-content: center;
  justify-content: center;
  width: auto;

  &__logo {
    max-width: 150px;
  }

  h1 {
    align-self: center;
    font-size: 48px;
  }
}

hr {
  margin: 0 30px 0 30px;
  border-color: #7f7f7f;
}

.main {
  display: flex;
  min-height: 560px;

  button {
    height: 35px;
    width: 115px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(52, 119, 110);
    color: $text-color;
    font-size: 18px;
    font-weight: bold;    
  }

  button:hover {
    border: none;
    box-shadow: 0 0 3px 0 rgb(37, 37, 37) inset, 0 0 3px 1px rgb(20, 20, 20);
    background-color: transparent;
    cursor: pointer;
  }

  button:focus {
    outline: none;
  }

  input {
    height: 35px;
    background-color: transparent;
    margin: 15px;
    padding: 10px;
    color: $text-color;
    font-size: 18px;
    font-weight: bold;
    
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $text-color;
    }
  }

  &__functions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 150px;
    margin: 60px 0px 10px 70px;
    border: none;
    border-radius: 60px 0px 0px 60px;
    background-color: rgba(165, 165, 165, 0.233);
    box-shadow: 0 1px 1px rgba(119, 59, 55, 0.16), 
                0 3px 10px 0 rgba(0, 0, 0, 0.15);

    &__knappy {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 450px;
      width: 150px;
      border: none;
      border-radius: 60px 0px 0px 60px;
      box-shadow: inset 1px 1px 5px 1px rgba(64,145,134,0.6);
      background-color: rgba(52, 119, 110, 0.795);
      color: $text-color;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      animation: slideInRight 1.5s;
      -webkit-animation: slideInRight 1.5s;
      -moz-animation: slideInRight 1.5s;
      -o-animation: slideInRight 1.5s;
      -ms-animation: slideInRight 1.5s;

      &:hover {
        box-shadow: inset 1px 1px 5px 1px rgba(35,79,73,0.6), 
                    0 1px 1px rgba(0, 0, 0, 0.16), 
                    0 3px 10px 0 rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 860px;
    height: 450px;
    margin: 60px 0px 0px 0px;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
    border: 20px solid rgb(78, 78, 78);
    background: linear-gradient(-45deg, rgba(131, 115, 113, 0.8), rgba(129, 119, 119, 0.8), rgba(126, 141, 140, 0.8), rgba(96, 122, 118, 0.8));
    box-shadow: inset 1px 1px 3px 2px rgba(131, 131, 131, 0.6), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
	  background-size: 500% 500%;
	  animation: gradient 3s ease-in-out infinite;

    button {
      height: 35px;
      width: 115px;
      margin: 15px;
      border: none;
      border-radius: 10px;
      background-color: rgb(45, 102, 94);
      color: $text-color;
      font-size: 18px;
    }
    button:hover {
      border: none;
      box-shadow: inset 0 0 3px 0 rgb(37, 37, 37), 
                  0 0 3px 1px rgb(20, 20, 20);
                  background-color: transparent;
      cursor: pointer;
    }
    button:focus {
      outline: none;
    }

    & p {
      margin: 15px;
    }

    &__searchBar {
      justify-self: center;
      display: flex;
      margin: 15px;

      &__input {
        height: 40px;
      }
      &__submit {
        height: 40px;
        cursor: pointer;
      }
    }

    &__search-result {
      &__title-links {
        display: flex;
        flex-direction: column;
        margin: 15px;
      }
      &__title-links a {
        width: 350px;
        margin: 5px auto 5px auto;
        font-size: 16px;
        font-weight: bold;
      }
      &__title-links a:hover {
        color: chocolate;
        cursor: pointer;
      }
    }

    &__convertContainer {
      display: flex;
      flex-direction: row;
    }

    &__jokeContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .chuckBox {
      display: flex;
      select {
        display: flex;
        align-self: center;
      }
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 150px;
    margin: 60px 0px 10px 0px;
    border: none;
    border-radius: 0px 60px 60px 0px;
    background-color: rgba(165, 165, 165, 0.233);
    box-shadow: 0 1px 1px rgba(119, 59, 55, 0.16), 
                0 3px 10px 0 rgba(0, 0, 0, 0.15);

    &__knappy {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 450px;
      width: 150px;
      border: none;
      border-radius: 0px 60px 60px 0px;
      box-shadow: inset 1px 1px 5px 1px rgba(150, 84, 79, 0.6);
      background-color: rgb(119, 59, 55);
      color: $text-color;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      animation: slideInLeft 1.5s;
      -webkit-animation: slideInLeft 1.5s;
      -moz-animation: slideInLeft 1.5s;
      -o-animation: slideInLeft 1.5s;
      -ms-animation: slideInLeft 1.5s;

      &:hover {
        border: none;
        border-radius: 0px 60px 60px 0px;
        box-shadow: inset 1px 1px 5px 1px rgba(82, 36, 33, 0.6),
                    0 1px 1px rgba(0, 0, 0, 0.16), 
                    0 3px 10px 0 rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes slideInLeft {
  from {left: 60px;}
  to {left: 0px;}
}

@keyframes slideInRight {
  from {right: 60px;}
  to {right: 0px;}
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.textBox {
  width: 700px;
  margin: 15px;
  padding: 15px;
  background-color: #414141;
}
.convert-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.song-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  &__lyrics-container {
    display: none;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 850px;
    margin: 15px;
    padding: 15px;
    background-color: #414141;
    box-shadow: 0 1px 1px rgba(119, 59, 55, 0.16), 
                0 3px 10px 0 rgba(0, 0, 0, 0.15);

    & h2 {
      margin: 20px;
      font-size: 36px;
    }
    & p {
      margin: 20px;
      font-size: 18px;
    }
    #video {
      margin: 20px;
    }
  }
}

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  background: $card-background-color;

  p {
    margin: 60px 60px 30px 60px;
  }
  a {
    margin: 60px 60px 30px 60px;
    color: $text-color;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    color: rgb(255, 255, 255);
  }
}
